<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
  <mat-icon svgIcon="vision" aria-hidden="false" aria-label="Vision logo"></mat-icon>
  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </div>
</mat-toolbar>
