<mat-toolbar *ngIf="isAuthenticated" fxLayout="row" fxLayoutAlign="start center">
  <img class="maxima-logo" src="./assets/icons/logotipo-maximatech.png" alt="Maxima Logo">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-flat-button [matMenuTriggerFor]="registerMenu" aria-label="Botão de Cadastro">
      Cadastro
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #registerMenu="matMenu">
      <button mat-menu-item routerLink="/clientes">
        <span>Cliente</span>
      </button>
      <button mat-menu-item routerLink="/produtos">
        <span>Produto</span>
      </button>
    </mat-menu>
    <button mat-flat-button [matMenuTriggerFor]="ordersMenu" aria-label="Botão de Pedidos">
      Pedido
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #ordersMenu="matMenu">
      <button mat-menu-item>
        <span>Novo Pedido</span>
      </button>
      <button mat-menu-item>
        <span>Consulta Pedido</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
